$font-color: #010D0A;
$primary-color: #26887C;
$secondary-color: #F6AB39;
$btn-gray: #919D9B;

@mixin flexC($value){
	display: flex;
	justify-content: $value;
	align-items: center;
}

@mixin head{
  h2{
    font-size: 2.5rem;
    font-family: Pop-medium;
    letter-spacing: -0.05rem;
    margin-bottom: 0.34rem;
  }
  p{
    color: $font-color;
    font-size: 14px;
    margin-bottom: 1.5rem;
  }
}

@mixin btnDefault($width, $height, $textForm, $border, $bgcolor){
	width: $width;
  height: $height;
  text-transform: $textForm;
  letter-spacing: 0.3px;
  font-size: 1.4rem;
  color: #fff;
  border: $border;
  border-radius: 6px;
  background-color: $bgcolor;
  cursor: pointer;
  &:focus{
    box-shadow: none;
  }
}

@mixin inputText($width){
  width: $width;
  padding: 10px 15px;
  font-size: 14px;
  background: #ffffff;
  outline: 0;
  height: 44px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.03);
  display: flex;
  align-items: center;
  line-height: 1.5;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: $font-color;
  margin-bottom: 4rem;
}

@mixin box11{
  cursor: pointer;
  p{
    color: #879290;
    font-size: 14px;
  }
  img{
    position: absolute;
    top: 19px;
    right: 4.4%;
    width: 13px;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
    &.active{
      transform: rotate(180deg);
    }
  }
}

@mixin opt-container{
  position: absolute;
  top: 49px;
  left: 0;
  width: 98%;
  max-height: 0px;
  overflow-y: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: #ffff;
  z-index: 55;
  transition: max-height 0.3s ease-out;
  &.checkbox-cont{
    overflow-y: hidden;
  }
  .option{
    margin: 8px 0;
    height: 45px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 25px;
    p{
      font-size: 14px;
      color: $font-color;
      margin-bottom: 0px;
    }
    &:hover{
      background-color: #e8fffa;
    }
  }
  .fd-head{
    height: 45px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    background: #FAFAFA;
    h6{
      font-size: 14px;
      margin-bottom: 0;
      font-family: Pop-medium;
    }
  }
  &.active{
    max-height: 160px;
    &.checkbox-cont{
      max-height: 152px;
    }
    .inside_option{
      overflow-y: scroll;
      max-height: 151px;
      padding-bottom: 53px;
      .option{
        position: relative;
        border-bottom: 1px solid #dbdbdb;
        .checkmark {
          position: absolute;
          top: 13px;
          left: 22px;
          height: 18px;
          width: 18px;
          border: 1px solid #dbdbdb;
          border-radius: 4px;
          z-index: 0;
          border-radius: 4px;
          &::after{
            content: "";
            position: absolute;
            left: 0.715rem;
            top: 3px;
            width: 4px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(35deg);
            display: none;
          }
        }
        input:checked{
          + .checkmark{
            background-color: #F6AB39;
            border: none;
          }
          + .checkmark::after{
            display: block;
          }
        }
      }
      label{
        text-transform: capitalize;
        cursor: pointer;
        font-size: 13px;
      }
      &::-webkit-scrollbar{
        width: 5px;
        border-radius: 30px;
      }
      &::-webkit-scrollbar-thumb{
        background-color: #769991;
      }
      &::-webkit-scrollbar-track{
        background-color: #ABC6C0;
      }
    }
  }
  &::-webkit-scrollbar{
    width: 5px;
    border-radius: 30px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #769991;
  }
  &::-webkit-scrollbar-track{
    background-color: #ABC6C0;
  }
}

@mixin sideBar{
  flex: 0 0 17%;
  max-width: 17%;
  min-height: 97vh;
  background: transparent linear-gradient(358deg, #2D9D8D 0%, 
  #20776E 100%) 0% 0% no-repeat padding-box;
  border-radius: 25px 0 0 25px;
  @include flexC(space-between);
  flex-direction: column;
  padding: 1.8rem;
  color: #fff;
  overflow: hidden;
  .logo{
    width: 80%;
    height: 100px;
    margin-left: -20%;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  .content{
    margin-top: 50%;
    h5{
      font-size: 1.62rem;
      line-height: 2.9rem;
      margin-bottom: 1.5rem;
      color: #fff;
      font-family: 'Pop-medium';
      color: #fff;
    }
    p{
      font-family: Pop-light;
      font-size: 13px;
      line-height: 2.4rem;
    }
  }
  .pattern {
    width: 350px;
    height: 300px;
    overflow: hidden;
    top: 52px;
    position: relative;
    background-image: url(../images/ring-pat-2.png);
    z-index: 100000000000 !important;
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(10deg);
    left: 19px;
  }
}

@mixin mainHeader{
  border-radius: 14px;
  background-color: #fff;
  padding: 0 1.3rem 0 2.2rem;
  height: 8.5rem;
  @include flexC(space-between);
  margin-bottom: 2.6rem;
  .logo{
    width: 40px;
    height: 40px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  h4{
    @include h4Text;
    margin-bottom: 0;
    transform: translateX(41%);
  }
  .grid{
    display: grid;
    grid-template-columns: 67% 33%;
    grid-gap: 5px;
    .grid1{
      text-align: end;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h6{
        @include h6Text;
        color: $font-color;
        font-family: Pop-medium;
        margin-bottom: 0.4rem;
      }
      p{
        margin: 0;
        line-height: 1rem;
        font-size: 13px;
        color: #879290;
      }
    }
    .grid2{
      position: relative;
      .profile{
        display: flex;
        justify-content: center;
        img{
          width: 65%;
          cursor: pointer;
        }
      }
      .dropdown{
        position: absolute;
        top: 57px;
        right: 0;
        z-index: 20;
        max-width: 250px;
        height: auto;
        border-radius: 15px;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
        display: none;
        transition: all 0.2s ease;
        ul{
          padding: 0;
          margin: 0;
          list-style-type: none;
          li{
            display: flex;
            padding: 1.3rem 1.6rem;
            &:not(:last-child){
              border-bottom: 1px solid #ededed;
            }
            a{
              text-decoration: none;
              font-family: Pop-normal;
              color: #0A2F2A;
              opacity: 0.9;
              font-size: 13px;
              margin: 0;
              padding: 0;
              display: flex;
              img{
                max-width: 17px;
                margin-right: 0.9rem;
              }
            }
          }
        }
        &.active{
          display: block;
        }
      }
    }
  }
  @media(max-width: 767px){
    padding: 0 0.4rem 0 0.65rem;
    margin-bottom: 2.1rem;
    z-index: 10;
    .logo{
      width: 48px;
      height: 34px;
      img{
        object-fit: contain;
        object-position: center;
      }
    }
    h4{
      font-size: 1.6rem;
      transform: translateX(10%);
      text-align: center;
      display: block;
    }
    .grid{
      grid-template-columns: 100% 0%;
      transform: translateX(6px);
      grid-gap: 1px;
      .grid1{
        align-items: flex-end;
        transform: translateX(2px);
        display: none;
        h6{
          font-size: 1.3rem;
          line-height: 2rem;
          margin-bottom: 0.4rem;
        }
        p{
          font-size: 12px;
        }
      }
      .grid2{
        .profile{
          justify-content: center;
        }
        .dropdown{
          top: 50px;
        }
      }
    }
  }
}

@mixin sysmiddle($martop,$top,$width){
  margin: $martop 0 1rem;
  width: 93%;
  padding: 3.1rem 6rem 2.35rem;
  position: relative;
  border-radius: 15px;
  background: linear-gradient(to top, #2D9D8D, #20776E);
  .row{
    justify-content: flex-end;
    margin: 0;
    padding: 0;
  }

  .img {
    position: absolute;
    max-width: $width;
    left: 6.3%;
    top: $top;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  h2 {
    width: 50%;
    line-height: 1.9;
    word-spacing: 0.2rem;
    color: #fff;
    font-size: 1.9rem;
    font-family: 'Pop-normal';
  }
}

@mixin mainDiv{
  flex: 0 0 83%;
  max-width: 83%;
}

@mixin h1banner{
  font-size: 3.5rem;
  font-family: Pop-bold; 
}

@mixin h2Head{
  font-size: 2.5rem;
  font-family: Pop-medium;
  letter-spacing: -0.05rem;

  @media(max-width:749px){
    font-size: 2.3rem;
  }
}

@mixin h3Head{
  font-size: 1.8rem;
  font-family: Pop-medium;
}

@mixin h4Text{
  font-size: 1.7rem;
  font-family: Pop-medium;
}

@mixin h5Text{
  font-size: 1.62rem;
  line-height: 2.9rem; 
  margin-bottom: 1.62rem;
}

@mixin h6Text{
  font-size: 1.4rem;
  line-height: 2.5rem; 
  margin-bottom: 0.65rem;
}
