@import '_fonts.scss';
@import '_mixin.scss';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  font-family: Pop-normal;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 15px;
  font-family: Pop-normal;
}

p {
  font-size: 15px;
  line-height: 2.8rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Pop-normal;
  color: $font-color;
}

::placeholder {
  color: #879290;
}

//keyframes
@keyframes slideRight {
  0% {
    margin-left: 15%;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeUp {
  0% {
    margin-top: 8px;
  }

  100% {
    margin-top: 0px;
  }
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

// bulb registration css start
.bulb_info {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  width: 35%;
  max-height: 100%;
  overflow-y: auto;
  z-index: 70;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;

  &.active {
    transform: translateX(0);
  }

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #769991;
    border-radius: 15px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ABC6C0;
  }

  div.close {
    position: sticky;
    left: 88%;
    top: 29px;
    cursor: pointer;
    background: #fff;
    width: 33px;
    height: 33px;
    @include flexC(center);
    border-radius: 50%;
    border: 1px solid $font-color;
    z-index: 10;

    img {
      width: 14px;
    }
  }

  .bulb_con {
    padding: 3rem 4.8rem 5.2rem 4.8rem;

    .head {
      @include head;
    }

    h6 {
      @include h6Text;
    }

    input[type='email'],
    input[type='text'],
    input[type='date'],
    .box11 {
      @include inputText(100%);
    }

    .box11 {
      @include box11;
    }

    .option-container {
      @include opt-container;
    }

    .border-div {
      width: 100%;
      height: 130px;
      @include flexC(center);
      border: 1px dashed #879290;
      border-radius: 6px;
      margin-bottom: 4rem;
      flex-direction: column;
      position: relative;
      background-color: #FBFCFC;
      text-align: center;

      &.border-div-over {
        border-style: solid;
      }

      input {
        display: none;
      }

      .img {
        width: 28px;
        height: 28px;
        @include flexC(center);
        background-color: #DCEBE9;
        border-radius: 50%;
        margin-bottom: 12px;

        img {
          margin-top: -1px;
          margin-left: 1px;
        }
      }

      p {
        font-size: 13px;
        color: $font-color;
        line-height: 1rem;

        span {
          color: $secondary-color;
          text-decoration: underline;
        }
      }

      span {
        color: #879290;
        font-size: 12px;
        font-family: Pop-normal;
      }
    }

    span.note {
      color: #676E6C;
      font-size: 13px;
      margin-top: 5px;
      line-height: 1.75;
    }
  }

  .bulb_footer {
    border-top: 1px solid #dbdbdb;
    padding: 3.7rem 0;
    @include flexC(center);

    a {
      font-size: 13px;
      color: $secondary-color;
      margin-right: 3.2rem;
      text-transform: uppercase;

      img {
        width: 12px;
        margin-top: -2px;
      }
    }

    button {
      @include btnDefault(150px, 45px, capitalize, none, $secondary-color);
    }
  }
}

// bulb registration css end

// registration form css start
.reg_form {
  width: 100%;
  min-height: 100vh;
  background-color: #F5F8F7;
  position: relative;
  padding: 1rem;
  @include flexC(center);

  ::placeholder {
    font-size: 13px;
  }

  input[type='date'].chg_color {
    color: #879290 !important;
    font-size: 13px;
  }

  ::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  input[type='date'] {
    position: relative;

    &::before {
      position: absolute;
      right: 16px;
      top: 9px;
      content: '\f073';
      font-family: 'Font Awesome 5 Free';
      font-size: 16px;
      cursor: pointer;
      color: #879290;
      // width: 14px;
    }
  }

  .form_overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: none;

    &.active {
      display: block;
    }
  }

  .bulb_overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: none;

    &.active {
      display: block;
    }
  }

  .sidebar_div {
    @include sideBar;
  }

  .main_div {
    @include mainDiv;
    padding: 2.8rem 7.5rem 3rem 13rem;
    position: relative;

    .formhead {
      @include flexC(space-between);

      .login {
        a {
          text-decoration: none;
          color: #26887C;
          display: flex;
          align-items: baseline;
          i{
            margin-right: 5px;
          }
          p{
            font-family: Pop-medium;
          }
        }

        button {
          @include btnDefault(110px, 45px, capitalize, none, $secondary-color);
          @include flexC(center);
          font-family: Pop-normal;

          i {
            margin-right: 6px;
            margin-top: -2px;
          }
        }
      }

      .bulk_regis {
        display: flex;
      }

      margin-bottom: 6.5rem;

      button {
        padding: 1rem 2.4rem;
        height: 42px;
        font-size: 13px;
        text-transform: uppercase;
        background-color: #919D9B;
        color: #fff;
        border-radius: 6px;
        font-family: Pop-light;
        margin-right: 1.2rem;
      }

      span {
        height: 42px;
        width: 44px;
        @include flexC(center);
        background-color: $btn-gray;
        border-radius: 6px;

        img {
          width: 50%;
          height: 50%;
          object-fit: contain;
        }
      }
    }

    form {
      width: 90%;
      margin-bottom: 6rem;

      .head {
        @include head;
      }

      .form-detail {
        display: none;

        &.active {
          display: block;
          animation: slideRight 0.2s ease-in;
        }

        .gx-lg-5 {
          --bs-gutter-x: 3.6rem;
        }

        >h4 {
          font-size: 1.7rem;
          font-family: Pop-medium;
          line-height: 4.8rem;
          margin-bottom: 3.35rem;
          border-bottom: 1px solid #ABC6C0;
        }

        h5 {
          font-size: 14px;
          font-family: Pop-normal;
          margin-bottom: 1rem;
        }

        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="number"],
        input[type="date"],
        .box11 {
          @include inputText(100%);
        }

        input[type="password"]+img.eye,
        input[type="text"]+img.eye {
          position: absolute;
          right: 33px;
          top: 4.25rem;
          width: 22px;
          cursor: pointer;
        }

        input[type="number"] {
          padding: 1rem 1.5rem 1rem 24%;
        }

        input[type="checkbox"] {
          margin-right: 1.4rem;
          opacity: 0;
          z-index: 2;
        }

        .radio_div {
          input[type="radio"] {
            appearance: none;
            display: inline-block;
            width: 21px;
            height: 21px;
            padding: 0.34rem;
            background-clip: content-box;
            border: 1px solid #dbdbdb;
            border-radius: 50%;
            margin-right: 8px;
            cursor: pointer;
          }

          input[type="radio"]:checked {
            background-color: $primary-color;
            border: 0.185rem solid $primary-color;
          }

          label {
            margin-right: 5rem;
            font-size: 14px;
            cursor: pointer;
          }

          label.active {
            color: #12846B;
          }
        }

        .box11 {
          @include box11;
        }

        .option-container {
          @include opt-container;
        }

        .for_contact {
          position: absolute;
          width: 17.5%;
          top: 27px;

          .box11 {
            border: none;
            border-right: 1px solid #e0e0e0;
            border-left: 1px solid #e0e0e0;
            border-radius: 6px 0 0 6px;
            box-shadow: none;
            height: 43px;
            border-top: 1px solid #e0e0e0;

            img {
              top: 19px;
              right: 18%;
              width: 10px;
            }
          }

          .option-container {
            .option {
              margin: 0;
              height: 38px;
              padding: 0 10px;
            }
          }
        }
      }
    }

    .step_wise {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 82.55%;
      height: 100px;
      background-color: #EFF7F6;
      z-index: 10;
      display: flex;
      padding: 0 8rem 0 8rem;
      justify-content: space-between;
      align-items: center;
      border-top: 2px solid #ABC6C0;

      .border_step {
        border-top: 2px solid $primary-color;
        width: calc(100%/4);
        position: absolute;
        height: 100%;
        top: -2px;
        left: 0;
        z-index: 30;
      }

      .center_step {
        display: flex;
        color: $primary-color;
        font-family: Pop-medium !important;

        h6 {
          @include h6Text;
          font-size: 16px;
          text-transform: uppercase;
          margin-right: 6px;
          letter-spacing: 0;
        }

        span {
          font-size: 16px;
        }
      }

      button {
        @include btnDefault(110px, 45px, capitalize, none, transparent);

        &.enable {
          border: 1px solid $secondary-color;
          cursor: pointer;
          color: $secondary-color;
          z-index: 100;
        }

        &.active {
          background-color: $secondary-color;
          color: #fff;
          cursor: pointer;
          position: relative;
          z-index: 50;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

// registration form css end

// verification form css start
.ver_form {
  padding: 1rem;
  min-height: 100vh;
  background-color: #F5F8F7;
  @include flexC(center);

  .sidebar_div {
    @include sideBar;
  }

  .main_div {
    @include mainDiv;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;

    .div-mid {
      padding: 2.8rem 7.5rem 3rem 13rem;
      width: 95%;

      .head {
        @include head;
        border-bottom: 1px solid #ABC6C0;
      }

      form {
        margin: 4rem 0 6rem;

        h6 {
          @include h6Text;
        }

        input {
          @include inputText(100%);
          margin-bottom: 3.2rem;
        }

        button {
          @include btnDefault(100px, 45px, capitalize, none, $secondary-color);
        }
      }
    }

    .step_wise2 {
      border-top: 2px solid #ABC6C0;
      @include flexC(center);
      height: 120px;

      .footer-info {
        text-align: center;
        word-spacing: 0.15rem;

        p {
          font-size: 12px;
          line-height: 1.5rem;
          font-family: Pop-normal;

          img {
            width: 60px;
            vertical-align: baseline;
            object-fit: contain;
          }
        }

        span {
          font-size: 12px;
        }
      }
    }
  }
}

// verification form css end

// Test selection css start
.selection {
  padding: 3rem;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #EAF2EE;

  .main_div {
    .main_header {
      @include mainHeader;
    }

    .middle_div {
      margin-bottom: 3.9rem;

      .div1 {
        width: 73.3%;
        margin-right: 1.7%;
        padding: 3.5rem 3.4rem 2.75rem;
        border-radius: 15px;
        background: linear-gradient(to top, #2D9D8D, #20776E);

        h5 {
          @include h5Text;
          color: #fff;
          font-family: Pop-semibold;
          margin-bottom: 0.8rem;
        }

        p {
          font-family: Pop-extralight;
          color: #fff;

          span {
            color: $secondary-color;
            font-family: Pop-normal;
          }
        }

        .img {
          max-width: 250px;
          height: auto;
          position: absolute;
          top: -76px;

          img {
            width: 100%;
          }
        }
      }

      .div2 {
        background-color: #fff;
        border-radius: 15px;
        padding: 1.6rem 1.8rem;
        display: flex;

        .chart.doughnut {
          width: 50%;
          display: flex;
          position: relative;
          z-index: 1;

          .canvas-container {
            canvas {
              width: 125px;
            }

            .text-inside {
              top: 56px;
              left: 26%;

              h4 {
                font-family: Pop-bold;
                line-height: 0.5;
              }

              p {
                color: #a4a5a4;
                font-size: 1.15rem;
                line-height: 1.8rem;
                margin-bottom: 0;
                font-family: Pop-normal;
              }
            }
          }
        }

        ul {
          list-style-type: none;
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 0;
          margin: 0;

          li {
            font-size: 13px;
            font-family: Pop-medium;
            color: #7c7c7c;

            &:not(:last-child) {
              margin-bottom: 1rem;
            }

            span {
              width: 0.825rem;
              height: 0.825rem;
              border-radius: 50%;
              margin-right: 0.28rem;
              display: inline-block;

              &.green {
                background-color: #2DBF60;
              }

              &.yellow {
                background-color: #F1D42F;
              }

              &.red {
                background-color: #F01D1D;
              }
            }
          }
        }
      }
    }

    .test_con {
      .row.gx-5 {
        --bs-gutter-x: 2.5rem;
      }

      .nothing {
        display: none;

        .no-test {
          @include flexC(center);
          flex-direction: column;
          text-align: center;

          img {
            max-width: 300px;
            object-fit: contain;
            margin-bottom: 1.5rem;
          }

          h3 {
            font-size: 1.9rem;
            font-family: Pop-semibold;
            margin-bottom: 0.8rem;
          }

          p {
            font-size: 15px;
            color: #5F6965;
          }
        }

        &.active {
          display: block;
          animation: fadeIn 0.5s ease;
        }
      }

      h3 {
        font-size: 2rem;
        font-family: Pop-medium;
        margin-bottom: 1.8rem;
      }

      input {
        @include inputText(90%);
        padding: 10px 15px 10px 41px;
        background: #fff url(../images/svg/search2.svg) no-repeat scroll 15px center;
        margin-bottom: 2.7rem;
        background-size: 5%;
      }

      .filter-btn {
        button {
          padding: 0 10px;
          height: 38px;
          letter-spacing: 0.3px;
          font-size: 1.4rem;
          color: #76807C;
          border-radius: 0;
          border: none;
          background-color: transparent;
          cursor: pointer;
          margin-right: 1rem;

          &:focus {
            box-shadow: none;
          }

          &.active {
            color: $font-color;
            border-bottom: 3px solid $primary-color;
            font-family: Pop-medium;
          }
        }
      }

      .col-12[filterValue] {
        display: flex;

        &.active {
          animation: fadeIn 0.5s ease;
        }
      }

      .test-card {
        background-color: #fff;
        margin-bottom: 2.15rem;
        border-radius: 15px;
        width: 93.7%;

        .row{
          justify-content: space-between;
        }

        .test-maincon {
          padding: 1.5rem 1.5rem 2rem 1.5rem;
          border-bottom: 1px solid #ebebeb;

          span {
            &.state {
              color: #fff;
              padding: 0 13px;
              height: 24px;
              border-radius: 30px;
              font-size: 12px;
              text-transform: uppercase;
              @include flexC(center);
            }

            &.expired {
              background-color: #F01D1D;
            }

            &.completed {
              background-color: #2DBF60;
            }
          }

          .circular-progress {
            position: relative;
            width: 94px;
            height: 94px;
            background-color: #EBF3F2;
            border-radius: 50%;
            display: grid;
            place-items: center;
            transition: all 0.3s ease;

            &::before {
              content: '';
              position: absolute;
              width: 88%;
              height: 88%;
              background-color: #fff;
              border-radius: 50%;
            }

            .value {
              position: relative;
              text-align: center;
            }
          }

          .data-div1 {
            flex: 0 0 27%;
            max-width: 27%;
          }

          .data-div2 {
            flex: 0 0 33%;
            max-width: 33%;
          }

          .data-div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {
              font-size: 11px;
              color: #0D4136;
              font-family: Pop-semibold;
            }
          }

          h6 {
            font-size: 1.4rem;
            line-height: 2.5rem;
            margin-bottom: 2.4rem;
            color: #0F2046;
            font-family: Pop-semibold;
          }

          h4 {
            font-size: 1.8rem;
            color: #0D4136;
            letter-spacing: -0.03rem;
            margin-right: 2px;
            font-family: Pop-semibold;
            line-height: 1;
          }

          p {
            color: #76807C;
            font-size: 1.15rem;
            line-height: 1.8rem;
            margin-bottom: 0;
            font-family: Pop-normal;
          }
        }

        .btn-test {
          padding: 2rem 1rem;
          @include flexC(center);

          button {
            @include btnDefault(150px, 36px, uppercase, none, $secondary-color);
            font-size: 1.3rem;
            letter-spacing: -0.02rem;
          }

          img {
            width: 15px;
            margin-right: 6px;
            margin-top: -2px;
          }

          a {
            color: #20776E;
            text-decoration: none;
            font-family: Pop-medium;
            font-size: 14px;
            letter-spacing: -0.01rem;
          }
        }
      }
    }
  }
}

// Test selection css end

//system diagnosis css start
.system-diagnosis {
  padding: 3rem 0;
  background-color: #F6F8FC;
  min-height: 100vh;
  width: 100%;

  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 70;
    background-color: transparent;
    display: none;
    &.active{
      display: block;
    }
  }

  .main_header {
    @include mainHeader;
  }

  .mycol-md-3 {
    flex: 0 0 24%;
    max-width: 24%;
  }

  .mycol-md-9 {
    flex: 0 0 76%;
    max-width: 76%;
  }

  .sidebar {
    height: 70vh;
    display: flex;
    align-items: center;

    ul {
      list-style-type: none;
      padding-left: 0;
      width: 73%;

      li {
        color: #20776E;
        padding: 1.35rem 1.25rem;
        font-size: 14px;
        border-radius: 5px;
        margin-bottom: 2.7rem;
        font-family: Pop-medium;
        opacity: 0.5;

        img {
          margin-right: 0.9rem;
          width: 17px;
          object-fit: contain;
          margin-top: -3px;
        }

        &.active {
          background: #DAEDEB;
          opacity: 1;
        }
      }
    }
  }

  .middle{
    .middle_div1 {
      @include sysmiddle(5rem,-54px,290px);
    }
    .middle_div2{
      width: 78%;
      margin: 0.5rem 0 0 9%;
      img{
        max-width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: center;
        border-radius: 15px;
        margin-bottom: 1.5rem;
      }
      .position-relative{
        img:last-child{
          position: absolute;
          max-width: 23px;
          height: auto;
          top: 14px;
          left: 14px;
        }
      }
      select{
        padding: 7px 6px;
        border-radius: 6px;
        background: #EBEDF1;
        color: #879290;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 13px;    
      }
    }
  }
  

  .system-div {
    width: 93%;

    .stepper {
      @include flexC(center);
      margin-top: 6rem;

      .progress1,
      .progress3 {
        img {
          max-width: 21px;
          object-fit: contain;
          object-position: center;
        }
      }

      .progress2 {
        display: flex;
        justify-content: center;
        background-color: #D8E6E8;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        @include flexC(center);

        span {
          width: 18px;
          height: 18px;
          border: 2px solid #dddddd;
          border-top-color: #009579;
          display: inline-block;
          border-radius: 50%;
          animation: loading 1s linear infinite;
        }
      }

      .progress1,.progress2,.progress3{
        position: relative;
        display: none;        
      }
      .progress1.active,.progress2.active,.progress3.active{
        display: block;
        &::after{
          display: block;
        }        
      }

      &:not(:last-child) div {
        &::after {
          content: '';
          position: absolute;
          width: 90px;
          border: 0.03rem dashed #cbcbcb;
          transform: translateX(90%);
          top: 11px;
          display: none;
        }
        &.progress2{
          &::after{
            border: 0.03rem dashed #30B0A1;
          }
        }
        &.progress3{
          &::after{
            border: 0.03rem dashed $primary-color;
          }
        }
      }
    }

    .stepper-card {
      width: 99.6%;
      padding: 1.9rem 1.5rem 0rem;
      background: #fff;
      border: 1px solid #EEF3F3;
      border-radius: 16px;
      overflow: hidden;

      .head {
        img {
          object-fit: cover;
          margin-bottom: 1.5rem;
          margin-top: 0 !important;
        }
      }

      .status1,
      .status2,
      .status3 {
        padding: 11px 7px;
        @include flexC(center);
        border-radius: 4px;

        p {
          color: #fff;
          line-height: 0;
          margin: 0;
          font-size: 12px;
        }
      }

      .status1 {
        background-color: #A4B5B3;
      }

      .status2 {
        background-color: $secondary-color;
      }

      .status3 {
        background-color: #198754;
      }

      .status{
        display: none;
        &.active{
          display: block;
        }
      }

      h5 {
        font-family: Pop-medium;
        font-size: 15px;
        text-transform: capitalize;
        color: #0A2F2A;
      }

      .result1 {
        display: flex;
        align-items: center;
        margin-top: 1.3rem;

        p {
          color: #20776E;
          line-height: 2;
          font-size: 13px;
          margin-right: 6px;
          letter-spacing: -0.03rem;
        }

        img {
          max-width: 16px;
          object-fit: contain;
          margin-top: -2px;
        }
      }

      .result2,.result3 {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;

        img {
          width: 160px;
          height: 75px;
          object-fit: contain;
        }
      }

      .result3 {
        margin-top: 1.3rem;

        p {
          line-height: 1.6;
          font-size: 13px;
          color: #20776E;
        }
      }

      .result4 {
        margin-top: 1.3rem;

        p {
          line-height: 1.6;
          font-size: 13px;
          color: #20776E;
          font-family: Pop-medium;
        }

        img {
          max-width: 16px;
          object-fit: contain;
          margin-top: -2px;
        }
        .chrome-icon{
          max-width: 21px;
          margin: 0.4rem 0 0.7rem;
        }
        .chro-comp{
          p{
            margin: 0 4px 0 0;
          }
        }
      }
      .result{
        display: none;
        p{
          display: inline-block;
        }
        &.active{
          display: block;
        }
      }
      .inter-analyze{
        color: #198754;
        font-family: Pop-medium;
        font-size: 13px;
        text-transform: capitalize;
        margin-bottom: 0;
        line-height: 1.2;
      }
    }

    .btn-div {
      margin-top: 3.4rem;

      button {
        @include btnDefault(152px, 51px, capitalize, none, $secondary-color);
        border-radius: 8px;
        text-transform: capitalize;
        &.btn-light{
          opacity: 0.5;
        }
      }
    }
  }
  .upload-main{
    .middle-photo{
      @include sysmiddle(1rem,-10px,255px);
      h3{
        width: 50%;
        line-height: 1.9;
        word-spacing: 0.2rem;
        color: #fff;
        font-size: 1.7rem;
        font-family: 'Pop-normal';
      }
    }
    .upload-photo{
      width: 85%;
      margin: 3rem 0 0 4.5%;
      .gx-5{
        --bs-gutter-x: 2.75rem;
        align-items: flex-start;
      }
      .img{
        width: 100%;
        border-radius: 13px;
        img{
          width: 100%;
          height: 100%;
          border-radius: 13px;
          object-fit: cover;
          object-position: center;
        }
      }
      .upload1{
        flex: 0 0 20%;
        max-width: 20%;
        @include flexC(center);
        flex-direction: column;
        h6{
          font-size: 1.3rem;
          line-height: 2.5rem; 
          margin-bottom: 0.5rem;
          color: #0F5156;
          font-family: Pop-medium;
        }
        .img{
          height: 150px;
          margin-bottom: 2rem;
        }
        .regcon1{
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          p{
            color: #ADB4B5;
          }
        }
        .regcon2{
          p{
            color: #162C2D;
          }
        }
        .regcon1,.regcon2{
          p{
            font-size: 13px;
            line-height: 1.45;
            font-family: Pop-medium;
            margin-bottom: 0.9rem;
          }
        }
      }
      .upload2{
        flex: 0 0 63%;
        max-width: 63%;
        .img{
          height: 280px;
          position: relative;
          .desc{
            position: absolute;
            width: 75%;
            padding: 10px;
            z-index: 100;
            background-color: #fff;
            border: 1px solid #EEF3F3;
            border-radius: 20px;
            transform: translate(16.5%,-119%);
            display: none;
            &.active{
              animation: fadeIn 0.5s ease;
              display: block;
            }
            .frame{
              border: 1px solid #EEF3F3;
              padding: 6px;
              border-radius: 15px;
              width: 47.5%;
              margin: auto;
              position: relative;
              img:last-child{
                position: absolute;
                right: 12px;
                top: 12px;
                max-width: 16px;
                object-fit: contain;
              }
            }
            p{
              color: #848E90;
              font-size: 12px;
              line-height: 1.5;
              margin-bottom: 0;
            }
            img{
              width: 100%;
              height: 95px;
              object-fit: cover;
              object-position: 50% 0%;
              margin-bottom: 1rem;
              border-radius: 9px;
            }
          }
        }
        .check{
          display: grid;
          grid-template-columns: 6% 93%;
          margin: 1.7rem 0 0 0.5%;
          label{
            color: #5A6768;
            font-size: 13px;
            letter-spacing: -0.01rem;
            font-family: Mont-normal;
          }
          .grid1{
            position: relative;
            input{
              position: absolute;
              opacity: 0;
              height: 20px;
              width: 20px;
              top: 2px;
              cursor: pointer;
              &:checked + .checkmark{
                background-color: #20776E;
                &::after{
                  display: block;
                }
              }
            }
            .checkmark{
              position: absolute;
              top: 2px;
              left: 0;
              height: 20px;
              width: 20px;
              border-radius: 4px;
              background-color: #eee;
              &::after{
                content: "";
                position: absolute;
                left: 8px;
                top: 4px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                display: none;
              }
            }
          }
        }
        .btn-div{
          margin-top: 2.8rem;
          button:first-child{
            @include btnDefault(132px, 47px, capitalize, 1px solid $secondary-color, #fff);
            color: $secondary-color;
          }
          button:last-child{
            @include btnDefault(176px, 47px, initial, none, $secondary-color);
          }
        }
      }
      .upload3{
        @include flexC(center);
        flex-direction: column;
        flex: 0 0 17%;
        max-width: 17%;
        h6{
          font-size: 1.3rem;
          line-height: 2.5rem; 
          margin-bottom: 0.5rem;
          color: #0F5156;
          font-family: Pop-medium;
        }
        .img{
          height: 120px;
          margin-bottom: 1.1rem;
          background-color: #fff;
          border: 1px solid #E1F3F3;
          position: relative;
          @include flexC(center);
          &.img-border{
            border: 2px solid $primary-color;
          }
          img.camera{
            max-width: 22px;
            height: auto;
            object-fit: contain;
            border-radius: 0px;
          }
          img.tick{
            position: absolute;
            right: 7px;
            top: 7px;
            max-width: 15px;
            height: auto;
            object-fit: contain;
          }
        }
      }
    }
  }
}

//system diagnosis css end

//face detect css start
.face-detect {
  width: 100%;
  min-height: 100vh;
  @include flexC(center);

  .mymodal {
    position: fixed;
    width: 45%;
    height: auto;
    box-shadow: 0px 0px 19px #c3c4cb36;
    border-radius: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.8rem 6rem 1.4rem;
    text-align: center;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .img {
      margin-bottom: 1.2rem;
      width: 180px;
      height: 180px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    h4 {
      font-size: 1.8rem;
      margin-bottom: 1.3rem;
      color: #FF0000;
      font-family: Pop-medium;
    }

    p {
      color: #849694;
      font-size: 14px;
      font-family: Pop-light;
      line-height: 2.6rem;
    }
  }
}

//face detect css end

// responsive css for medium size laptop
@media(min-width: 1200px) and (max-width: 1399px){
  //system diagnosis
  .system-diagnosis{
    .middle{
      .middle_div1{
        margin: 3rem 0 1rem;
        .img{
          left: 6%;
          top: -18px;
        }
      }
    }
    .system-div{
      .stepper-card{
        .result1{
          p{
            width: 75%;
          }
        }
      }
      .stepper:not(:last-child){
        div::after{
          transform: translateX(74%);
        }
      }
    }
  }
}

// responsive css for small size laptop/desktop
@media(max-width: 1199px) {
  .reg_form {
    .main_div {
      padding: 2.8rem 7rem 3rem 11.5rem;

      form {
        .form-detail {
          .for_contact {
            width: 20.5%;
            top: 26px;
          }

          input[type="number"] {
            padding: 1rem 1.5rem 1rem 28%;
          }

          .radio_div {
            label {
              margin-right: 1.9rem;
            }
          }
        }
      }
    }
  }
}

// responsive css for medium size Laptop/Desktop
@media(min-width: 992px) and (max-width: 1199px){
  // selection test css
  .selection{
    .main_div{
      .middle_div{
        .div1{
          .img{
            top: -13px;
          }
        }
      }
      .div2{
        flex-direction: column;
        .chart.doughnut{
          margin: auto auto 1.6rem;
        }
      }
      .test_con{
        .test-card{
          .test-maincon{
            .data-div1{
              flex: 0 0 27%;
              max-width: 27%;
            }
            .data-div2{
              flex: 0 0 31%;
              max-width: 31%;
            }
          }
        }
      }
    }
  }
  //system diagnosis
  .system-diagnosis{
    .middle{
      .middle_div1{
        padding: 2.02rem 2rem 1.35rem;
        .img{
          max-width: 290px;
          left: 5.3%;
          top: -39px;
        }
        h2{
          font-size: 1.9rem;
        }
      }
    }
    .system-div{
      .stepper:not(:last-child){
        div::after{
          width: 90px;
          transform: translateX(57%);
        }
      }
      .stepper-card{
        margin-bottom: 1.5rem;
      }
    }
    .upload-main{
      .middle-photo{
        width: 96%;
        .img{
          max-width: 230px;
          left: 7%;
          top: 13px;
        }
      }
      .upload-photo{
        width: 91.3%;
        margin: 3rem 0 0 2.5%;
        .gx-5{
          --bs-gutter-x: 2.2rem;
        }
        .upload1{
          .img{
            height: 120px;    
            margin-bottom: 1.5rem;
          }
        }
        .upload2{
          .img{
            height: 270px;    
          }
        }
        .upload3{
          .img{
            height: 101px;    
            margin-bottom: 1.5rem;
          }
        }
      }
    }
  }
}

// responsive css for tablet
@media(min-width: 768px) and (max-width: 991px) {
  .reg_form {
    .sidebar_div {
      flex: 0 0 24%;
      max-width: 24%;

      .logo {
        width: 90%;
        margin-left: -10%;
      }
    }

    .main_div {
      flex: 0 0 76%;
      max-width: 76%;
      padding: 2.8rem 5rem 3rem 7rem;

      .formhead {
        margin-bottom: 7.5rem;
      }

      .step_wise {
        width: 75.4%;
      }

      form {
        margin-bottom: 9rem;
      }
    }

    .form-detail {
      .radio_div {
        margin-bottom: 4rem;
      }
    }
  }

  .ver_form {
    .sidebar_div {
      flex: 0 0 24%;
      max-width: 24%;

      .logo {
        width: 90%;
        margin-left: -10%;
      }
    }

    .main_div {
      flex: 0 0 76%;
      max-width: 76%;

      form {
        margin-bottom: 9rem;
      }
    }

    .form-detail {
      .radio_div {
        margin-bottom: 4rem;
      }
    }
  }

  //selection test css
  .selection{
    .main_div{
      .middle_div{
        .div1{
          .img{
            top: -15px;
          }
        }
        .div2{
          .chart.doughnut{
            width: 76%;
          }
        }
      }
      .test_con{
        input{
          width: 100%;
          background-size: 7%;
          padding: 10px 15px 10px 35px;
        }
      }
      .div2{
        align-items: center;
        flex-direction: column;
        .chart.doughnut{
          margin-bottom: 1.6rem;
        }
      }
    }
  }
  //system diagnosis
  .system-diagnosis{
    .middle{
      .middle_div1{
        margin: 3.5rem 0 0rem;
        width: 93%;
        padding: 1.5rem 3rem 0.9rem;
        .img{
          left: 3.3%;
          top: -31px;
          max-width: 229px;
        }
        h2{
          font-size: 1.7rem;
          line-height: 1.7;
          word-spacing: 0.1rem;
        }
      }
    }
    .system-div{
      .stepper:not(:last-child){
        div::after{
          width: 57px;
          transform: translateX(78%);
        }
      }
      .stepper-card{
        margin-bottom: 1.5rem;
      }
      .btn-div{
        margin-top: 2rem;
        button{
          width: 135px;
          height: 46px;
        }
      }
    }
    .upload-main{
      .middle-photo{
        padding: 2.1rem 6rem 1.35rem;
        width: 100%;
        .img{
          max-width: 200px;
          left: 7%;
          top: 13px;
        }
      }
      .upload-photo{
        width: 94.9%;
        margin: 4rem 0 0 4.5%;
        .gx-5{
          --bs-gutter-x: 1.75rem;
        }
        .upload1{
          flex: 0 0 27%;
          max-width: 27%;
          .img{
            height: 125px;
            margin-bottom: 1.5rem;
          }
        }
        .upload2{
          flex: 0 0 51%;
          max-width: 51%;
          .img{
            height: 250px;
            .desc{
              width: 81.3%;
              transform: translate(11.5%, -104%);
              img{
                height: 76px;
              }
            }
          }
          .check{
            grid-template-columns: 12% 88%;
          }
        }
        .upload3{
          flex: 0 0 21%;
          max-width: 21%;
          .img{
            height: 93px;
          }
        }
      }
    }
  }
}

// responsive css for mobile
@media(max-width: 767px) {
  h2.h2-head-mob{
    font-family: 'Pop-medium';
    margin-bottom: 1rem;
  }
  .reg_form {
    background-color: #EFF7F6;
    align-items: flex-start;

    .sidebar_div {
      display: none;
    }

    .main_div {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 2.4rem 1.5rem 2.8rem 1.5rem;

      .formhead {
        margin-bottom: 4.5rem;

        .login {
          button {
            @include btnDefault(90px, 45px, capitalize, none, $secondary-color);
            font-size: 1.3rem;

            i {
              margin-top: 0;
            }
          }
        }

        .bulk_regis {
          span {
            height: 40px;
          }
        }

        button {
          padding: 0.8rem 1.5rem;
          height: 40px;
          font-size: 12px;
        }
      }

      form {
        width: 100%;
        margin-bottom: 7rem;

        .head {
          h2 {
            color: $primary-color;
            margin-bottom: 1rem;
          }
        }

        .form-detail {
          input[type="number"] {
            padding: 1rem 1.5rem 1rem 27%;
          }

          .radio_div {
            margin-bottom: 4rem;

            label {
              margin-right: 3.1rem;
            }
          }

          .for_contact {
            width: 19.5%;

            .box11 {
              img {
                right: 14%;
              }
            }
          }
        }
      }

      .step_wise {
        padding: 0 3rem;
        background-color: #F5F8F7;
        width: 100%;

        .center_step {
          align-items: center;
          justify-content: center;

          h6,
          span {
            font-size: 15px;
          }
        }

        button.active {
          @include btnDefault(100px, 45px, capitalize, none, $secondary-color);
          height: 43px;
        }
      }
    }

    .bulb_info {
      width: 100%;

      div.close {
        top: 24px;
        border: none;

        img {
          width: 16px;
        }
      }

      .bulb_con {
        padding: 3.6rem 3rem 4rem 3rem;
      }

      .bulb_footer {
        padding: 2.7rem 0;

        a {
          margin-right: 2.7rem
        }

        button {
          @include btnDefault(110px, 45px, capitalize, none, $secondary-color);
          height: 43px;
        }
      }
    }
  }

  .ver_form {
    background: transparent linear-gradient(358deg, #2D9D8D 0%, #20776E 100%) 0% 0% no-repeat padding-box;
    padding: 0 1.5rem;
    min-height: 100%;
    @include flexC(center);

    .sidebar_div {
      display: none;
    }

    .main_div {
      flex: 0 0 100%;
      max-width: 100%;
      background: #fff;
      border-radius: 35px;
      padding: 4.7rem 1.6rem 0.8rem 1.6rem;

      .div-mid {
        width: 95%;
        padding: 0;

        .head {
          border-bottom: 1px solid #dbdbdb;

          h2 {
            font-size: 2.2rem;
            margin-bottom: 1rem;
          }

          p.otp {
            line-height: 2.2rem;
            font-size: 13px;
            color: #879290;
            font-family: Pop-normal;
            margin-bottom: 2rem;
          }
        }

        form {
          margin: 3rem 0 8rem;

          h6 {
            font-family: Pop-medium;
          }

          input {
            margin-bottom: 2.9rem;
          }

          button {
            height: 40px;
          }
        }
      }

      .step_wise2 {
        align-items: flex-end;
        border-top: none;

        .footer-info {
          p {
            margin-bottom: 0.7rem;
          }
        }
      }
    }
  }

  // selection css
  .selection{
    padding: 1.2rem;
    .main_div{
      .middle_div{
        h2{
          font-family: 'Pop-medium';
          margin-bottom: 1rem; 
        }
        .div1{
          width: 100%;
          padding: 1.5rem 1.5rem 0.2rem;
          margin-bottom: 1.9rem;
          .img{
            max-width: 250px;
            height: 150px;
            position: absolute;
            top: 0;
            display: none;
          }
          h5{
            margin-bottom: 0.7rem;
          }
          p{
            font-size: 14px;
            word-spacing: -1px;
          }
        }
        .div2{
          padding: 0.7rem 1.8rem 1.6rem;
          ul{
            margin: 0.9rem 0 0;
          }
        }
      }
      .test_con{
        h3{
          font-size: 1.9rem;
          margin-bottom: 1.7rem;
          letter-spacing: -0.4px;
        }
        .filter-btn{
          margin-bottom: 2rem;
          button{
            height: 32px;
          }
        }
        input{
          width: 75%;
          margin-bottom: 3rem;
          height: 40px;
          background-size: 6%;
          padding: 10px 15px 10px 40px;
        }
        .test-card{
          width: 100%;
          .test-maincon{
            .row{
              justify-content: space-between;
            }
          }
        }
        .nothing{
          margin-top: 1.5rem;
          .no-test{
            img{
              max-width: 210px;
            }
            h3{
              font-size: 1.7rem;
            }
            p{
              font-size: 14px;
              line-height: 2.4rem;
            }
          }
        }
      }
    }
  }

  //system diagnosis
  .system-diagnosis {
    padding: 1.3rem 1.3rem;
    overflow: hidden;
    .mycol-md-3{
      flex: 0 0 100%;
      max-width: 100%;
    }
    .mycol-md-9{
      flex: 0 0 100%;
      max-width: 100%;
    }
    .sidebar{
      height: 23vh;
      justify-content: center;
      ul{
        width: 66%;
        li{
          padding: 1.3rem 1rem;
          margin-bottom: 1rem;
          text-align: center;
        }
      }
    }
    .sidebar_mob{
      height: 18vh;
      justify-content: center;
      align-items: center;
      ul{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        li{
          margin-bottom: 3rem;
          text-align: center;
          padding: 1rem 1.5rem;
          .grid{
            display: grid;
            grid-template-columns: 21% 79%;
            text-align: start;
            .grid1{
              display: flex;
            }
          }
        }
      }
    }
    .middle{
      .middle_div1{
        width: 100%;
        padding: 1.5rem 2rem 1rem;
        margin: 0 0 1rem;
        .img{
          max-width: 200px;
          left: 40%;
          top: -41px;
          display: none;
        }
        h2{
          width: 100%;
          line-height: 1.7;
          word-spacing: 0.15rem;
          font-size: 1.6rem;
        }
      }
      .middle_div2{
        width: 100%;
        margin: 0rem 0 0 0%;
        .row{
          >.col-12{
            margin-bottom: 2rem;
          }
        }
        img{
          height: 145px;
          margin-bottom: 1.1rem;
        }
      }
    }
    .system-div{
      width: 100%;
      >.row.no-wrap{
        flex-wrap: nowrap;
        transform: translateX(0%);
        .col-12{
          width: 53%;
        }
      }
      .overflow-control{
        overflow-x: scroll;
        overflow-y: hidden;
      }
      .stepper{
        margin-top: 1rem;
        width: 25%;
        &:not(:last-child) div::after{
          transform: translateX(79.8%);
          width: 40px;
        }
      }
      .stepper-card{
        width: 100%;
        margin-bottom: 1.5rem;
      }
      .btn-div{
        margin-top: 1.4rem;
        button{
          @include btnDefault(152px, 44px, capitalize, none, $secondary-color);
        }
      }
    }
    .upload-main{
      .middle-photo{
        width: 100%;
        padding: 1.5rem 1.6rem 0.8rem;
        text-align: center;
        .img{
          max-width: 200px;
          left: 22%;
          top: -20px;
          display: none;
        }
        h3{
          width: 100%;
          line-height: 1.8;
          word-spacing: 0.15rem;
          font-size: 1.6rem;
          text-align: center;
        }
      }
      .upload-photo{
        width: 100%;
        margin: 1rem 0 0 0%;
        .upload1{
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 1rem;
          flex-direction: row;
          h6{
            font-size: 1.5rem;
            margin-bottom: 0.9rem;
            display: none;
            margin-left: 5.5%;
          }
          .img{
            margin-bottom: 1.1rem;
            display: flex;
            justify-content: center;
            height: 120px;
            width: 65%;
            border-radius: 30px;
            img{
              width: 100%;
              object-fit: contain;
            }
          }
          .regcon1{
            align-items: baseline;
            padding-left: 8%;
            text-align: inherit;
          }
        }
        .upload2{
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 4rem;
          .img{
            height: 183px;
            img{
              width: 100%;
              object-fit: contain;
            }
            .desc{
              width: 86.6%;
              transform: translate(7.6%, -104%);
              padding: 7px 10px;
              img{
                height: 62px;
              }
              p{
                line-height: 1.4;
              }
            }
          }
          .check{
            grid-template-columns: 9% 90%;
            label{
              font-family: 'Pop-normal';
            }
          }
          .btn-div{
            display: none !important;
            button:first-child{
              width: 129px;
              height: 45px;
            }
            button:last-child{
              width: 172px;
              height: 45px;
            }
          }
        }
        .upload3{
          flex-direction: row;
          flex: 0 0 100%;
          max-width: 100%;
          gap: 1.5rem;
          h6{
            font-size: 1.5rem;
          }
          .img{
            height: 117px;
            img{
              width: 100%;
            }
          }
        }
        .btn-div-mob{
          margin-top: 2.8rem;
          button{
            text-transform: capitalize;
            letter-spacing: 0px;
            font-size: 1.4rem;
            border-radius: 6px;
            cursor: pointer;  
            &:first-child{
              width: 123px;
              height: 45px;
              border: 1px solid #F6AB39;
              background-color: #fff;
              color: #F6AB39;
            }
            &:last-child{
              width: 167px;
              height: 45px;
              border: none;
              background-color: #F6AB39;
              color: #fff;
            }
          }
        }
      }
    }
  }
}