@font-face {
  font-family: Rob-norm;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Rob-med;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Rob-bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: Pop-extralight;
  src: url(../fonts/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
  font-family: Pop-light;
  src: url(../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: Pop-normal;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Pop-medium;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
  font-family: Pop-semibold;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Pop-bold;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ddd;
  font-family: Pop-normal;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 15px;
  font-family: Pop-normal;
}

p {
  font-size: 15px;
  line-height: 2.8rem;
}

h1, h2, h3, h4, h5 {
  font-family: Pop-normal;
  color: #010D0A;
}

@-webkit-keyframes slideRight {
  0% {
    margin-left: 15%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes slideRight {
  0% {
    margin-left: 15%;
  }
  100% {
    margin-left: 0;
  }
}

.bulb_info {
  position: fixed;
  right: 0;
  top: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  width: 35%;
  max-height: 100%;
  overflow-y: auto;
  z-index: 70;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bulb_info.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.bulb_info::-webkit-scrollbar {
  width: 9px;
}

.bulb_info::-webkit-scrollbar-thumb {
  background-color: #769991;
  border-radius: 30px;
}

.bulb_info::-webkit-scrollbar-track {
  background-color: #ABC6C0;
}

.bulb_info div.close {
  position: -webkit-sticky;
  position: sticky;
  left: 88%;
  top: 29px;
  cursor: pointer;
  background: #fff;
  width: 33px;
  height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 1px solid #010D0A;
  z-index: 10;
}

.bulb_info div.close img {
  width: 14px;
}

.bulb_info .bulb_con {
  padding: 3rem 4.8rem 5.2rem 4.8rem;
}

.bulb_info .bulb_con .head h2 {
  font-size: 2.5rem;
  font-family: Pop-medium;
  letter-spacing: -0.05rem;
  margin-bottom: 0.34rem;
}

.bulb_info .bulb_con .head p {
  color: #010D0A;
  font-size: 14px;
  margin-bottom: 1.5rem;
}

.bulb_info .bulb_con h6 {
  font-size: 1.4rem;
  line-height: 2.5rem;
  margin-bottom: 0.65rem;
}

.bulb_info .bulb_con input[type='email'], .bulb_info .bulb_con input[type='text'], .bulb_info .bulb_con input[type='date'], .bulb_info .bulb_con .box11 {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  background: #ffffff;
  outline: 0;
  height: 44px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  color: #010D0A;
  margin-bottom: 4rem;
}

.bulb_info .bulb_con .box11 {
  cursor: pointer;
}

.bulb_info .bulb_con .box11 p {
  color: #879290;
  font-size: 14px;
}

.bulb_info .bulb_con .box11 img {
  position: absolute;
  top: 19px;
  right: 4.4%;
  width: 13px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bulb_info .bulb_con .box11 img.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.bulb_info .bulb_con .option-container {
  position: absolute;
  top: 49px;
  left: 0;
  width: 98%;
  max-height: 0px;
  overflow-y: auto;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: #ffff;
  z-index: 55;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.bulb_info .bulb_con .option-container.checkbox-cont {
  overflow-y: hidden;
}

.bulb_info .bulb_con .option-container .option {
  margin: 8px 0;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0 25px;
}

.bulb_info .bulb_con .option-container .option p {
  font-size: 14px;
  color: #010D0A;
  margin-bottom: 0px;
}

.bulb_info .bulb_con .option-container .option:hover {
  background-color: #e8fffa;
}

.bulb_info .bulb_con .option-container .fd-head {
  height: 45px;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FAFAFA;
}

.bulb_info .bulb_con .option-container .fd-head h6 {
  font-size: 14px;
  margin-bottom: 0;
  font-family: Pop-medium;
}

.bulb_info .bulb_con .option-container.active {
  max-height: 160px;
}

.bulb_info .bulb_con .option-container.active.checkbox-cont {
  max-height: 152px;
}

.bulb_info .bulb_con .option-container.active .inside_option {
  overflow-y: scroll;
  max-height: 151px;
  padding-bottom: 53px;
}

.bulb_info .bulb_con .option-container.active .inside_option .option {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
}

.bulb_info .bulb_con .option-container.active .inside_option .option .checkmark {
  position: absolute;
  top: 13px;
  left: 22px;
  height: 18px;
  width: 18px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  z-index: 0;
  border-radius: 4px;
}

.bulb_info .bulb_con .option-container.active .inside_option .option .checkmark::after {
  content: "";
  position: absolute;
  left: 0.715rem;
  top: 3px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  display: none;
}

.bulb_info .bulb_con .option-container.active .inside_option .option input:checked + .checkmark {
  background-color: #F6AB39;
  border: none;
}

.bulb_info .bulb_con .option-container.active .inside_option .option input:checked + .checkmark::after {
  display: block;
}

.bulb_info .bulb_con .option-container.active .inside_option label {
  text-transform: capitalize;
  cursor: pointer;
  font-size: 13px;
}

.bulb_info .bulb_con .option-container.active .inside_option::-webkit-scrollbar {
  width: 5px;
  border-radius: 30px;
}

.bulb_info .bulb_con .option-container.active .inside_option::-webkit-scrollbar-thumb {
  background-color: #769991;
}

.bulb_info .bulb_con .option-container.active .inside_option::-webkit-scrollbar-track {
  background-color: #ABC6C0;
}

.bulb_info .bulb_con .option-container::-webkit-scrollbar {
  width: 5px;
  border-radius: 30px;
}

.bulb_info .bulb_con .option-container::-webkit-scrollbar-thumb {
  background-color: #769991;
}

.bulb_info .bulb_con .option-container::-webkit-scrollbar-track {
  background-color: #ABC6C0;
}

.bulb_info .bulb_con .border-div {
  width: 100%;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px dashed #879290;
  border-radius: 6px;
  margin-bottom: 4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #FBFCFC;
  text-align: center;
}

.bulb_info .bulb_con .border-div.border-div-over {
  border-style: solid;
}

.bulb_info .bulb_con .border-div input {
  display: none;
}

.bulb_info .bulb_con .border-div .img {
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DCEBE9;
  border-radius: 50%;
  margin-bottom: 12px;
}

.bulb_info .bulb_con .border-div .img img {
  margin-top: -1px;
  margin-left: 1px;
}

.bulb_info .bulb_con .border-div p {
  font-size: 13px;
  color: #010D0A;
  line-height: 1rem;
}

.bulb_info .bulb_con .border-div p span {
  color: #F6AB39;
  text-decoration: underline;
}

.bulb_info .bulb_con .border-div span {
  color: #879290;
  font-size: 12px;
  font-family: Pop-normal;
}

.bulb_info .bulb_con span.note {
  color: #676E6C;
  font-size: 13px;
  margin-top: 5px;
  line-height: 1.75;
}

.bulb_info .bulb_footer {
  border-top: 1px solid #dbdbdb;
  padding: 3.7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bulb_info .bulb_footer a {
  font-size: 13px;
  color: #F6AB39;
  margin-right: 3.2rem;
  text-transform: uppercase;
}

.bulb_info .bulb_footer a img {
  width: 12px;
  margin-top: -2px;
}

.bulb_info .bulb_footer button {
  width: 150px;
  height: 45px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 1.4rem;
  color: #fff;
  border: none;
  border-radius: 6px;
  background-color: #F6AB39;
  cursor: pointer;
}

.bulb_info .bulb_footer button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.reg_form {
  width: 100%;
  min-height: 100vh;
  background-color: #F5F8F7;
  position: relative;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reg_form ::-webkit-input-placeholder {
  color: #879290;
  font-size: 13px;
}

.reg_form :-ms-input-placeholder {
  color: #879290;
  font-size: 13px;
}

.reg_form ::-ms-input-placeholder {
  color: #879290;
  font-size: 13px;
}

.reg_form ::placeholder {
  color: #879290;
  font-size: 13px;
}

.reg_form input[type='date'].chg_color {
  color: #879290 !important;
  font-size: 13px;
}

.reg_form ::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.reg_form input[type='date'] {
  position: relative;
}

.reg_form input[type='date']::before {
  position: absolute;
  right: 16px;
  top: 9px;
  content: '\f073';
  font-family: 'Font Awesome 5 Free';
  font-size: 16px;
  cursor: pointer;
  color: #879290;
}

.reg_form .form_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: none;
}

.reg_form .form_overlay.active {
  display: block;
}

.reg_form .bulb_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  display: none;
}

.reg_form .bulb_overlay.active {
  display: block;
}

.reg_form .sidebar_div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17%;
          flex: 0 0 17%;
  max-width: 17%;
  min-height: 97vh;
  background: transparent linear-gradient(358deg, #2D9D8D 0%, #20776E 100%) 0% 0% no-repeat padding-box;
  border-radius: 25px 0 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.8rem;
  color: #fff;
}

.reg_form .sidebar_div .logo {
  width: 80%;
  height: 100px;
  margin-left: -20%;
}

.reg_form .sidebar_div .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.reg_form .sidebar_div .content {
  margin-top: -40%;
}

.reg_form .sidebar_div .content h5 {
  font-size: 1.62rem;
  line-height: 2.9rem;
  margin-bottom: 1.5rem;
  color: #fff;
  font-family: 'Pop-medium';
  color: #fff;
}

.reg_form .sidebar_div .content p {
  font-family: Pop-light;
  font-size: 13px;
  line-height: 2.4rem;
}

.reg_form .main_div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83%;
          flex: 0 0 83%;
  max-width: 83%;
  padding: 2.8rem 7.5rem 3rem 13rem;
  position: relative;
}

.reg_form .main_div .formhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6.5rem;
}

.reg_form .main_div .formhead .login a {
  text-decoration: none;
}

.reg_form .main_div .formhead .login button {
  width: 110px;
  height: 45px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 1.4rem;
  color: #fff;
  border: none;
  border-radius: 6px;
  background-color: #F6AB39;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Pop-normal;
}

.reg_form .main_div .formhead .login button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.reg_form .main_div .formhead .login button i {
  margin-right: 6px;
  margin-top: -2px;
}

.reg_form .main_div .formhead .bulk_regis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reg_form .main_div .formhead button {
  padding: 1rem 2.4rem;
  height: 42px;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #919D9B;
  color: #fff;
  border-radius: 6px;
  font-family: Pop-light;
  margin-right: 1.2rem;
}

.reg_form .main_div .formhead span {
  height: 42px;
  width: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #919D9B;
  border-radius: 6px;
}

.reg_form .main_div .formhead span img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.reg_form .main_div form {
  width: 90%;
  margin-bottom: 6rem;
}

.reg_form .main_div form .head h2 {
  font-size: 2.5rem;
  font-family: Pop-medium;
  letter-spacing: -0.05rem;
  margin-bottom: 0.34rem;
}

.reg_form .main_div form .head p {
  color: #010D0A;
  font-size: 14px;
  margin-bottom: 1.5rem;
}

.reg_form .main_div form .form-detail {
  display: none;
}

.reg_form .main_div form .form-detail.active {
  display: block;
  -webkit-animation: slideRight 0.2s ease-in;
          animation: slideRight 0.2s ease-in;
}

.reg_form .main_div form .form-detail .gx-lg-5 {
  --bs-gutter-x: 3.6rem;
}

.reg_form .main_div form .form-detail > h4 {
  font-size: 1.7rem;
  font-family: Pop-medium;
  line-height: 4.8rem;
  margin-bottom: 3.35rem;
  border-bottom: 1px solid #ABC6C0;
}

.reg_form .main_div form .form-detail h5 {
  font-size: 14px;
  font-family: Pop-normal;
  margin-bottom: 1rem;
}

.reg_form .main_div form .form-detail input[type="text"], .reg_form .main_div form .form-detail input[type="password"], .reg_form .main_div form .form-detail input[type="email"],
.reg_form .main_div form .form-detail input[type="number"], .reg_form .main_div form .form-detail input[type="date"], .reg_form .main_div form .form-detail .box11 {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  background: #ffffff;
  outline: 0;
  height: 44px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  color: #010D0A;
  margin-bottom: 4rem;
}

.reg_form .main_div form .form-detail input[type="password"] + img.eye, .reg_form .main_div form .form-detail input[type="text"] + img.eye {
  position: absolute;
  right: 33px;
  top: 4.25rem;
  width: 22px;
  cursor: pointer;
}

.reg_form .main_div form .form-detail input[type="number"] {
  padding: 1rem 1.5rem 1rem 24%;
}

.reg_form .main_div form .form-detail input[type="checkbox"] {
  margin-right: 1.4rem;
  opacity: 0;
  z-index: 2;
}

.reg_form .main_div form .form-detail .radio_div input[type="radio"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  width: 21px;
  height: 21px;
  padding: 0.34rem;
  background-clip: content-box;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}

.reg_form .main_div form .form-detail .radio_div input[type="radio"]:checked {
  background-color: #26887C;
  border: 0.185rem solid #26887C;
}

.reg_form .main_div form .form-detail .radio_div label {
  margin-right: 5rem;
  font-size: 14px;
  cursor: pointer;
}

.reg_form .main_div form .form-detail .radio_div label.active {
  color: #12846B;
}

.reg_form .main_div form .form-detail .box11 {
  cursor: pointer;
}

.reg_form .main_div form .form-detail .box11 p {
  color: #879290;
  font-size: 14px;
}

.reg_form .main_div form .form-detail .box11 img {
  position: absolute;
  top: 19px;
  right: 4.4%;
  width: 13px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.reg_form .main_div form .form-detail .box11 img.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.reg_form .main_div form .form-detail .option-container {
  position: absolute;
  top: 49px;
  left: 0;
  width: 98%;
  max-height: 0px;
  overflow-y: auto;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background: #ffff;
  z-index: 55;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

.reg_form .main_div form .form-detail .option-container.checkbox-cont {
  overflow-y: hidden;
}

.reg_form .main_div form .form-detail .option-container .option {
  margin: 8px 0;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 0 25px;
}

.reg_form .main_div form .form-detail .option-container .option p {
  font-size: 14px;
  color: #010D0A;
  margin-bottom: 0px;
}

.reg_form .main_div form .form-detail .option-container .option:hover {
  background-color: #e8fffa;
}

.reg_form .main_div form .form-detail .option-container .fd-head {
  height: 45px;
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FAFAFA;
}

.reg_form .main_div form .form-detail .option-container .fd-head h6 {
  font-size: 14px;
  margin-bottom: 0;
  font-family: Pop-medium;
}

.reg_form .main_div form .form-detail .option-container.active {
  max-height: 160px;
}

.reg_form .main_div form .form-detail .option-container.active.checkbox-cont {
  max-height: 152px;
}

.reg_form .main_div form .form-detail .option-container.active .inside_option {
  overflow-y: scroll;
  max-height: 151px;
  padding-bottom: 53px;
}

.reg_form .main_div form .form-detail .option-container.active .inside_option .option {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
}

.reg_form .main_div form .form-detail .option-container.active .inside_option .option .checkmark {
  position: absolute;
  top: 13px;
  left: 22px;
  height: 18px;
  width: 18px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  z-index: 0;
  border-radius: 4px;
}

.reg_form .main_div form .form-detail .option-container.active .inside_option .option .checkmark::after {
  content: "";
  position: absolute;
  left: 0.715rem;
  top: 3px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  display: none;
}

.reg_form .main_div form .form-detail .option-container.active .inside_option .option input:checked + .checkmark {
  background-color: #F6AB39;
  border: none;
}

.reg_form .main_div form .form-detail .option-container.active .inside_option .option input:checked + .checkmark::after {
  display: block;
}

.reg_form .main_div form .form-detail .option-container.active .inside_option label {
  text-transform: capitalize;
  cursor: pointer;
  font-size: 13px;
}

.reg_form .main_div form .form-detail .option-container.active .inside_option::-webkit-scrollbar {
  width: 5px;
  border-radius: 30px;
}

.reg_form .main_div form .form-detail .option-container.active .inside_option::-webkit-scrollbar-thumb {
  background-color: #769991;
}

.reg_form .main_div form .form-detail .option-container.active .inside_option::-webkit-scrollbar-track {
  background-color: #ABC6C0;
}

.reg_form .main_div form .form-detail .option-container::-webkit-scrollbar {
  width: 5px;
  border-radius: 30px;
}

.reg_form .main_div form .form-detail .option-container::-webkit-scrollbar-thumb {
  background-color: #769991;
}

.reg_form .main_div form .form-detail .option-container::-webkit-scrollbar-track {
  background-color: #ABC6C0;
}

.reg_form .main_div form .form-detail .for_contact {
  position: absolute;
  width: 17.5%;
  top: 27px;
}

.reg_form .main_div form .form-detail .for_contact .box11 {
  border: none;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-radius: 6px 0 0 6px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 43px;
  border-top: 1px solid #e0e0e0;
}

.reg_form .main_div form .form-detail .for_contact .box11 img {
  top: 19px;
  right: 18%;
  width: 10px;
}

.reg_form .main_div form .form-detail .for_contact .option-container .option {
  margin: 0;
  height: 38px;
  padding: 0 10px;
}

.reg_form .main_div .step_wise {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 82.55%;
  height: 100px;
  background-color: #EFF7F6;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 8rem 0 8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid #ABC6C0;
}

.reg_form .main_div .step_wise .border_step {
  border-top: 2px solid #26887C;
  width: calc(100%/4);
  position: absolute;
  height: 100%;
  top: -2px;
  left: 0;
  z-index: 30;
}

.reg_form .main_div .step_wise .center_step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #26887C;
  font-family: Pop-medium !important;
}

.reg_form .main_div .step_wise .center_step h6 {
  font-size: 1.4rem;
  line-height: 2.5rem;
  margin-bottom: 0.65rem;
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 6px;
  letter-spacing: 0;
}

.reg_form .main_div .step_wise .center_step span {
  font-size: 16px;
}

.reg_form .main_div .step_wise button {
  width: 110px;
  height: 45px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 1.4rem;
  color: #fff;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
}

.reg_form .main_div .step_wise button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.reg_form .main_div .step_wise button.enable {
  border: 1px solid #F6AB39;
  cursor: pointer;
  color: #F6AB39;
  z-index: 100;
}

.reg_form .main_div .step_wise button.active {
  background-color: #F6AB39;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 50;
}

.reg_form .main_div .step_wise button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ver_form {
  padding: 1rem;
  min-height: 100vh;
  background-color: #F5F8F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ver_form .sidebar_div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17%;
          flex: 0 0 17%;
  max-width: 17%;
  min-height: 97vh;
  background: transparent linear-gradient(358deg, #2D9D8D 0%, #20776E 100%) 0% 0% no-repeat padding-box;
  border-radius: 25px 0 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.8rem;
  color: #fff;
}

.ver_form .sidebar_div .logo {
  width: 80%;
  height: 100px;
  margin-left: -20%;
}

.ver_form .sidebar_div .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.ver_form .sidebar_div .content {
  margin-top: -40%;
}

.ver_form .sidebar_div .content h5 {
  font-size: 1.62rem;
  line-height: 2.9rem;
  margin-bottom: 1.5rem;
  color: #fff;
  font-family: 'Pop-medium';
  color: #fff;
}

.ver_form .sidebar_div .content p {
  font-family: Pop-light;
  font-size: 13px;
  line-height: 2.4rem;
}

.ver_form .main_div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83%;
          flex: 0 0 83%;
  max-width: 83%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.ver_form .main_div .div-mid {
  padding: 2.8rem 7.5rem 3rem 13rem;
  width: 95%;
}

.ver_form .main_div .div-mid .head {
  border-bottom: 1px solid #ABC6C0;
}

.ver_form .main_div .div-mid .head h2 {
  font-size: 2.5rem;
  font-family: Pop-medium;
  letter-spacing: -0.05rem;
  margin-bottom: 0.34rem;
}

.ver_form .main_div .div-mid .head p {
  color: #010D0A;
  font-size: 14px;
  margin-bottom: 1.5rem;
}

.ver_form .main_div .div-mid form {
  margin: 4rem 0 6rem;
}

.ver_form .main_div .div-mid form h6 {
  font-size: 1.4rem;
  line-height: 2.5rem;
  margin-bottom: 0.65rem;
}

.ver_form .main_div .div-mid form input {
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  background: #ffffff;
  outline: 0;
  height: 44px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.03);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  color: #010D0A;
  margin-bottom: 4rem;
  margin-bottom: 3.2rem;
}

.ver_form .main_div .div-mid form button {
  width: 100px;
  height: 45px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-size: 1.4rem;
  color: #fff;
  border: none;
  border-radius: 6px;
  background-color: #F6AB39;
  cursor: pointer;
}

.ver_form .main_div .div-mid form button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.ver_form .main_div .step_wise2 {
  border-top: 2px solid #ABC6C0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

.ver_form .main_div .step_wise2 .footer-info {
  text-align: center;
  word-spacing: 0.15rem;
}

.ver_form .main_div .step_wise2 .footer-info p {
  font-size: 12px;
  line-height: 1.5rem;
  font-family: Pop-normal;
}

.ver_form .main_div .step_wise2 .footer-info p img {
  width: 60px;
  vertical-align: baseline;
  -o-object-fit: contain;
     object-fit: contain;
}

.ver_form .main_div .step_wise2 .footer-info span {
  font-size: 12px;
}

@media (max-width: 991px) {
  .reg_form .sidebar_div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
    max-width: 24%;
  }
  .reg_form .sidebar_div .logo {
    width: 90%;
    margin-left: -10%;
  }
  .reg_form .main_div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 76%;
            flex: 0 0 76%;
    max-width: 76%;
    padding: 2.8rem 5rem 3rem 7rem;
  }
  .reg_form .main_div .formhead {
    margin-bottom: 7.5rem;
  }
  .reg_form .main_div .step_wise {
    width: 75.4%;
  }
  .reg_form .main_div form {
    margin-bottom: 9rem;
  }
  .reg_form .form-detail .radio_div {
    margin-bottom: 4rem;
  }
  .ver_form .sidebar_div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24%;
            flex: 0 0 24%;
    max-width: 24%;
  }
  .ver_form .sidebar_div .logo {
    width: 90%;
    margin-left: -10%;
  }
  .ver_form .main_div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 76%;
            flex: 0 0 76%;
    max-width: 76%;
  }
  .ver_form .main_div form {
    margin-bottom: 9rem;
  }
  .ver_form .form-detail .radio_div {
    margin-bottom: 4rem;
  }
}

@media (max-width: 749px) {
  .reg_form {
    background-color: #EFF7F6;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .reg_form .sidebar_div {
    display: none;
  }
  .reg_form .main_div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    padding: 2.4rem 1.5rem 2.8rem 1.5rem;
  }
  .reg_form .main_div .formhead {
    margin-bottom: 4.5rem;
  }
  .reg_form .main_div .formhead .login button {
    width: 90px;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-size: 1.4rem;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: #F6AB39;
    cursor: pointer;
    font-size: 1.3rem;
  }
  .reg_form .main_div .formhead .login button:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .reg_form .main_div .formhead .login button i {
    margin-top: 0;
  }
  .reg_form .main_div .formhead button {
    padding: 0.8rem 1.5rem;
    height: 40px;
    font-size: 12px;
  }
  .reg_form .main_div form {
    width: 100%;
    margin-bottom: 7rem;
  }
  .reg_form .main_div form .head h2 {
    color: #26887C;
    margin-bottom: 1rem;
  }
  .reg_form .main_div form .form-detail input[type="number"] {
    padding: 1rem 1.5rem 1rem 27%;
  }
  .reg_form .main_div form .form-detail .radio_div {
    margin-bottom: 4rem;
  }
  .reg_form .main_div form .form-detail .radio_div label {
    margin-right: 3.1rem;
  }
  .reg_form .main_div form .form-detail .for_contact {
    width: 19.5%;
  }
  .reg_form .main_div form .form-detail .for_contact .box11 img {
    right: 14%;
  }
  .reg_form .main_div .step_wise {
    padding: 0 3rem;
    background-color: #F5F8F7;
    width: 100%;
  }
  .reg_form .main_div .step_wise .center_step {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reg_form .main_div .step_wise .center_step h6, .reg_form .main_div .step_wise .center_step span {
    font-size: 15px;
  }
  .reg_form .main_div .step_wise button.active {
    width: 100px;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-size: 1.4rem;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: #F6AB39;
    cursor: pointer;
    height: 43px;
  }
  .reg_form .main_div .step_wise button.active:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .reg_form .bulb_info {
    width: 100%;
  }
  .reg_form .bulb_info div.close {
    top: 24px;
    border: none;
  }
  .reg_form .bulb_info div.close img {
    width: 16px;
  }
  .reg_form .bulb_info .bulb_con {
    padding: 3.6rem 3rem 4rem 3rem;
  }
  .reg_form .bulb_info .bulb_footer {
    padding: 2.7rem 0;
  }
  .reg_form .bulb_info .bulb_footer a {
    margin-right: 2.7rem;
  }
  .reg_form .bulb_info .bulb_footer button {
    width: 110px;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    font-size: 1.4rem;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: #F6AB39;
    cursor: pointer;
    height: 43px;
  }
  .reg_form .bulb_info .bulb_footer button:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .ver_form {
    background: transparent linear-gradient(358deg, #2D9D8D 0%, #20776E 100%) 0% 0% no-repeat padding-box;
    padding: 0 1.5rem;
  }
  .ver_form .sidebar_div {
    display: none;
  }
  .ver_form .main_div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    background: #fff;
    border-radius: 35px;
    padding: 0rem 1.6rem 0.8rem 1.6rem;
    min-height: 88vh;
  }
  .ver_form .main_div .div-mid {
    width: 95%;
    padding: 0;
  }
  .ver_form .main_div .div-mid .head {
    border-bottom: 1px solid #dbdbdb;
  }
  .ver_form .main_div .div-mid .head h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .ver_form .main_div .div-mid .head p.otp {
    line-height: 2.2rem;
    font-size: 13px;
    color: #879290;
    font-family: Pop-normal;
    margin-bottom: 2rem;
  }
  .ver_form .main_div .div-mid form {
    margin: 3rem 0 7rem;
  }
  .ver_form .main_div .div-mid form h6 {
    font-family: Pop-medium;
  }
  .ver_form .main_div .div-mid form input {
    margin-bottom: 2.9rem;
  }
  .ver_form .main_div .div-mid form button {
    height: 40px;
  }
  .ver_form .main_div .step_wise2 {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    border-top: none;
  }
  .ver_form .main_div .step_wise2 .footer-info p {
    margin-bottom: 0.7rem;
  }
}
/*# sourceMappingURL=app.css.map */