@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.box1{
    background: #67A9ED 0% 0% no-repeat padding-box;
    color: #fff;
}
.box2{
    background: #94CE9C 0% 0% no-repeat padding-box;
}
.box3{
    background: #FFBD61 0% 0% no-repeat padding-box;
}
.box4{
    background: #2CD9C5 0% 0% no-repeat padding-box;
}
.box-card .dashboard-content p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2.67px;
    line-height: 18px;
}
.box-card .dashboard-content h3{
    color: #fff;
    font-size: 39px;
    font-weight: 300;
    letter-spacing: 2.67px;
    line-height: 49px;
    margin: 0;
}
.stats-row{
    margin-top: 60px;
}
.stats-row .testGraph{
    width: 100%;
}
/* Bulk uplooad */
.dbtn{
background: #20776E 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #5462E247;
border-radius: 5px;
color: #fff;
font-size: 22px !important;
padding-left: 30px;
padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
border: 0px;
outline: 0px;
}
.next-btn{
    background: #20776E 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #5462E247;
    border-radius: 5px;
    color: #fff;
    
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 0px;
    outline: 0px; 
}
.prev-btn{
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #5462E247;
    border-radius: 5px;
    color: #20776E;
    
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #20776E;
    outline: 0px; 
}
.vscomp-toggle-button {
 
    height: 33px !important;
    font-size: 12px !important;
}
.vscomp-option-text {
    font-size: 14px !important;
}
.vscomp-option {

    height: 20px !important;

}
.vscomp-options-list{
    height: auto !important;
}
/* drag */
.icons {
    font-size: 0;
  }
  
  .icon {
    display: inline-block;
    width: 40px;
    height: 50px;
    border-radius: 2px 4px 2px 2px;
    cursor: pointer;
    position: relative;
    margin: 0 5px;
  }
  .icon:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;
    border-radius: 0 2px;
    transition: all 0.2s linear;
    backface-visibility: hidden;
  }
  .icon--doc {
    background-color: #20776e;
  }
  .icon--doc:after {
    background: linear-gradient(45deg, #4d90ff 50%, #fff 50%);
  }
  .icon--doc i:before {
    content: "☰";
  }
  .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 10px;
    color: #fff;
    font-weight: 500;
    max-width: 80%;
  }
  .icon i:before, .icon i:after {
    display: block;
    transition: all 0.2s linear;
  }
  .icon i:before {
    text-align: center;
    font-size: 12px;
  }
  .icon i:after {
    content: attr(title);
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .fileupload-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .card-body {
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 40px  15px 40px 15px;
    position: relative;
  }
  .card-text {
    text-align: center;
    color: #333333;
    font-size: 14px !important;
  }
  .card-text svg {
    width: 60px;
  }
  .card-text svg path {
    fill: #20776E ;
  }
  .card-text .txt-card {
    margin-bottom: 5px;
  }
  .card-text .txt-card .or {
    color: #333333;
  }
  .card-text input[type=file] {
    display: none;
  }
  .card-text button {
    background: #fff;
    border: none;
    border-radius: 4px;
    color: #20776e;
    padding: 10px 10px;
    width: 100px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
  }
  .card-text button:hover {
    background: #20776e;
    color: #fff;
  }
  
/* drop */
.multisteps-form__panel.js-active {
    height: 100% !important;
    opacity: 1;
    visibility: visible;
}
.multisteps-form__progress-btn:before {
  border: 8px solid !important;
  border-radius: 50%;
  background-color: #fff !important;
  box-sizing: border-box;
  z-index: 3;
  border-color: #BDBDBD !important;
}
.multisteps-form__progress-btn.js-active:before {
  background-color: currentColor;
  border-color: #20776E !important;
}
.multisteps-form__progress-btn:after {
  left: calc(-25% - 13px / 2) !important;
  width: 60% !important;
  top:1px !important;
}
/* .testcard{
  margin: 10px;
} */
.modal-title{
  font-size: 22px !important;
  font-weight: bold;
  color: #2C3652 !important;
}
.modal-header{
  border-bottom: 0px solid #dee2e6 !important;
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 1000px !important;
    margin: 1.75rem auto;
}
.multisteps-form__progress-btn {
  font-size: 14px !important;
  padding-top: 30px !important;
}
.prev-btn, .next-btn{
  font-size: 16px !important;
}
.selectsub{
  padding-top: 30px;
  padding-bottom: 30px;
  color: #2c3652 !important;
  font-size: 14px;
}
.success_mgs{
  font-size: 24px;
}
.success_img{
  width: 85px;
  height: 85px;
}
.success_mgs{
  font-size: 22px;
}
.drang_text, .browse{
  font-size: 18px !important;
}
  .multisteps-form__progress-btn:after{
  border-color: #BDBDBD !important;
  top: 1px;
}
}

@media (max-width: 576px){
  .modal-title{
    font-size: 18px !important;
  }
  .modal-header .btn-close{
    font-size: 12px !important;
    color: #333333;
  }
  .dbtn{
    font-size: 18px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .dbtn img{
    width: 28px !important;
    height: 28px !important;
  }
  .multisteps-form__progress-btn{
    font-size: 12px !important;
    padding-top: 30px !important;
  }
  .prev-btn, .next-btn{
    font-size: 14px !important;
  }
  .modal-header{
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .selectsub{
    padding-top: 15px;
    padding-bottom: 20px;
    color: #2c3652 !important;
    font-size: 12px;
  }
  .multisteps-form__progress-btn:before{
    width: 20px !important;
    height: 20px !important;
    top: -4;
    border-color: #BDBDBD !important;
  }
  .multisteps-form__progress-btn:before {
    border: 6px solid !important;
    border-color: #BDBDBD !important;
  }
  .multisteps-form__progress-btn:after{
    border-color: #BDBDBD !important;
    top: -1px;
  }
  .drang_text, .browse{
    font-size: 16px !important;
  }
  }
  .multisteps-form__progress-btn:after {
    
    background-color: #BDBDBD;
    z-index: 1;
}
/* Create Test */
.mytable.table>thead {
  vertical-align: middle;
  background-color: #DAEDEB;
  height: 60px;
  font-size: 14px;
  color: #000000;
  border-radius: 20px;
  font: normal normal medium 14px/21px Poppins;
}
tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: none;
  border-width: 0;
}
.table-div{
  margin-top: 20px;
}
tbody tr{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 5px #E4E4E4;
  border-radius: 10px;
  height: 89px;
  vertical-align: middle;
  border-collapse: separate;
}
table {
  width: 100%;
  border-spacing: 0; 
  border-collapse: separate;
}

table tr:first-child th:first-child,
table tr:first-child td:first-child {
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}

table tr:first-child th:last-child,
table tr:first-child td:last-child {
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}
.table {
  border-collapse: separate;
  border-spacing:0 12px;
  overflow: hidden;
}
.table>:not(:last-child)>:last-child>* {
  padding-left: 54px;
}

.mytable>tbody>tr>td, .mytable>tbody>tr>th, .mytable>tfoot>tr>td {
  padding-left: 54px;
  font-size: 14px;
}
.number-highlight{
  background: #20776E 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #5462E247;
  border-radius: 5px;
  width: 72px;
  height: 40px;
  color: #fff;
  display: block; /* or block */
  text-align: center;
}
.number-highlight span {
  height: 70px;
  position: relative;
  top: 25%;
  left: 0;
}
td input{
  display: block;
  width: 72;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
border: 2px solid #20776E;
border-radius: 5px;
text-align: center;
font-size: 14px;
}
/* Radio Button */
.radio {
  margin: 0.5rem;
  display: inline;
}
.radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio input[type=radio] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #20776e;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
  background-color: #20776e;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #20776e;
}
.radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}
/* Radio Button */
textarea{
  width: 100%;
}
.container-fluid label{
  margin-top: 30px;
  font: normal normal normal 18px/27px Poppins;
  color: #010D0A;
}
#fname, .calendar{
  width: 100%;
  height: 50px;
  border: 0.4000000059604645px solid #AAAAAA !important;
  border-radius: 6px;
  padding-left: 20px;
}
.third_row label{
  margin-bottom: 15px;
  color: #010D0A;
  text-transform: capitalize;
  text-align: left;
  font: normal normal normal 18px/27px Poppins;
}
.third_row ::placeholder {
  color: #010D0A;
  font: normal normal normal 16px/25px Poppins;
  opacity: 0.3 !important;
}
/* toggle */
.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381 !important;
  background: #bdc1c8;
}

.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;  
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle:before {
  content: 'Off';
  left: -4rem;
}
.btn-toggle:after {
  content: 'On';
  right: -4rem;
  opacity: 0.5;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.active:before {
  opacity: 0.5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.btn-secondary.active {
  background-color: #20776E;
}
.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
  color: #565e64;
  background-color: #565e64;
  border-color: #51585e;
}
.btn-secondary:hover {
  color:  #5c636a;
  background-color: #5c636a;
  border-color: #ffffff;
}
.btn-check:active+.btn-secondary:focus, .btn-check:checked+.btn-secondary:focus, .btn-secondary.active:focus, .btn-secondary:active:focus, .show>.btn-secondary.dropdown-toggle:focus {
  color: 5c636a;
  box-shadow: 0 0 0 0.25rem rgb(130 138 145 / 50%);
}
.toggle-div{
  margin-top: 30px;
  margin-bottom: 53px;
}
.toggle-div h4{
  font-size: 18px;
  color: #010D0A;
  margin-bottom: 17px;
}
.table-condensed tbody tr{
  height: auto;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 0px #e4e4e400;
  /* border-radius: 10px; */
  vertical-align: middle;
  border-collapse: separate;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #20776E !important;
  border-color: transparent;
  color: #fff;
}
.btn-primary {
  color: #fff;
  background-color: #20776E !important;
  border-color: #20776E !important;
}
.calendar-container {
  position: relative;
  margin-top: 0px;
  z-index: 200;
}
.calendar {
  width: 100%;
  height: 50px ;
}
.fa-calendar {
  color: #b2b6b5;
  position: absolute;
  top: 88px;
  right: 3%;
}
.passper .vscomp-toggle-button{
  height: 50px !important;
  width: 100%;
  border: 0.4000000059604645px solid #AAAAAA !important;
  border-radius: 6px;
  padding-left: 20px;
}
.radio-label {
  font-size: 16px !important;
}
.one-hr, .two-hr, .three-hr {
  width: 45px;
  height: 9px;
  color: #DBDBDB;
  opacity: 1;
  vertical-align: middle;
  margin-right: 10px;
}
hr:not([size]) {
  height: 9px;
}
.three-hr{
  color: #00E937;
}
.two-2{
  color: #E9AB00;
}
.dashboardCard-img{
background-color: #f7f7f700;
}

#myChart, #donutchart {
  display: block;
  height: 187px !important;
  width: 372px !important;
  /* float: left; */
  /* display: inline; */
  position: relative;
  left: -90px;
  top: -20px;
}