/* chethan */
.main-div {
    background: #F5F8F7;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    }
    .main-div .row {
    height: 100%;
    }
    .main-div .row .second-row{
     height: auto;   
    }
    .first-row {
    padding: 40px 20px 20px 20px;
    height: 100%;
    background: linear-gradient(180deg, rgba(45, 157, 141, 1) 50%, rgba(32, 119, 110, 1) 83%);
    border-radius: 30px 0 0 30px;
    }
    .first-row .logo-main {
    width: 90%;
    }
    .first-row h2 {
    color: #fff;
    font-size: 22px;
    }
    .first-row p {
    color: #ffffffce;
    font-size: 14px;
    line-height: 20px;
    }
    .first-row .text-div {
    position: relative;
    top: 30%;
    }
    .second-row .verfication-div {
    width: 70%;
    position: relative;
    top: 18%;
    height: 90%;
    padding-left: 10%;
    }
    #code {
    width: 40%;
    }
    .main-div .second-row {
    padding-left: 10%;
    }
    .main-div .submit-div {
    padding-top: 20px;
    height: 10%;
    }
    input::placeholder {
    font: 14px sans-serif;
    }
    .footer-text p {
    font-size: 12px;
    text-align: center;
    line-height: 10px;
    }
    /* ends */